node_modules
dist
esm
.DS_Store
*.tsbuildinfo
.ultra.cache.json
**/web_modules/deps_hash
**/web_modules/**/**.js
**/web_modules/**/**.js.map
out
temp
fixtures/with-pages/node_dist
*_out
with-pages/web_modules
with-pages/out
*_dist
_hmr_client.js
.bundless
scripts/metafile.json